@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

.container[data-theme="one"] {
--mainbackground: hsl(222, 26%, 31%);
--toggle-Keypad-Background: hsl(223, 31%, 20%);
--result-Background: hsl(224, 36%, 15%);

--del-reset-background: hsl(225, 21%, 49%);
--del-reset-shadow: hsl(224, 28%, 35%);
--equal-toggle-background:hsl(6, 63%, 50%);
--equal-toggle-shadow:hsl(6, 70%, 34%);
--numberkey-background:hsl(30, 25%, 89%);
--numberkey-shadow:hsl(28, 16%, 65%);

--key-color:hsl(221, 14%, 31%);
--title-result-color:white;
--del-reset-color: white;
--equal-color:white;

--del-reset-hover:hsl(226, 55%, 85%);
--equal-hover:hsl(6, 75%, 70%);
--key-hover:rgb(251, 246, 246);
}

.container[data-theme="two"] {
--mainbackground: hsl(0, 0%, 90%);
--toggle-Keypad-Background: hsl(0, 5%, 81%);
--result-Background: hsl(0, 0%, 93%);

--del-reset-background: hsl(185, 42%, 37%);
--del-reset-shadow: hsl(185, 58%, 25%);
--equal-toggle-background:hsl(25, 98%, 40%);
--equal-toggle-shadow:hsl(25, 99%, 27%);
--numberkey-background:hsl(45, 7%, 89%);
--numberkey-shadow:hsl(35, 11%, 61%);

--key-color:hsl(60, 10%, 19%);
--title-result-color:hsl(60, 10%, 19%);
--del-reset-color: white;
--equal-color: white;

--del-reset-hover:hsl(185, 50%, 77%);
--equal-hover:hsl(5, 74%, 88%);
--key-hover:rgb(251, 246, 246);
}

.container[data-theme="three"] {
--mainbackground: hsl(268, 75%, 9%);
--toggle-Keypad-Background:  hsl(268, 71%, 12%);
--result-Background:  hsl(268, 71%, 12%);
    
--del-reset-background: hsl(281, 89%, 26%);
--del-reset-shadow: hsl(285, 91%, 52%);
--equal-toggle-background:hsl(176, 100%, 44%);
--equal-toggle-shadow:hsl(177, 92%, 70%);
--numberkey-background:hsl(268, 47%, 21%);
--numberkey-shadow:hsl(290, 70%, 36%);
    
--key-color:hsl(52, 100%, 62%);
--title-result-color:hsl(52, 100%, 62%);
--del-reset-color: white;
--equal-color:hsl(198, 20%, 13%);

--del-reset-hover:hsl(281, 65%, 59%);
--equal-hover:hsl(176, 77%, 82%);
--key-hover:hsl(268, 55%, 41%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.attribution{
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}

body {
    width: 100vw;
    background-color: var(--mainbackground); /*can be change between themes*/
}

main {
    height: 100vh;
    padding-top: 60px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Spartan", sans-serif;
    background-color: var(--mainbackground); /*can be change between themes*/
    padding: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--title-result-color);
    margin-top:15%;
}

 h1 {
   display: flex;
   margin-left: -30%;
   text-transform: uppercase;
   font-size: 30px;
}

p {
position: relative;
left: 120px;
font-size: 18px;
font-family: "Spartan", sans-serif;
font-weight: 700;
}

.right {
    font-size: 18px;
    position: relative;
    left: 60px;
    font-family: "Spartan", sans-serif;
    font-weight: 700;
}

.title .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 26px;
    background-color: var(--toggle-Keypad-Background);
    border: 3px solid var(--toggle-Keypad-Background);
    border-radius: 50px;
    position: relative;
    left: 30px;
}

.right .toggle input{
    appearance: none; /* Remove toggle style */
    position: absolute;
    width: 20px; /* Style red dot */
    height: 20px; /* Style red dot */
    border-radius: 50px;
    transition: .5s;
}

.right .toggle input:hover {
    cursor: pointer;
}

/******** The position of the toggle red dot *******/
[id='theme1'] {
left:10px;
}

[id='theme2'] {
left:45px;
}

[id='theme3'] {
left: 90px;
}

/* Change the dot to red */
.toggle input:checked {
    background-color:var(--equal-toggle-background); 
}

.toggle label {
    display: flex;
    margin: 15px;
    position: relative;
    top: -25px;
}

.title, .result {
    color: var(--title-result-color);
}

.result{
    background-color: var(--result-Background);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    width: 485px;
    font-size: 40px;
    padding: 20px 22px;
    text-align: right;  
    font-family: 'League Spartan', sans-serif;
}
.result  #previous-value {
    font-size: 25px;
    padding-bottom: 1rem;
}

.result span{
    background-color: var(--result-Background);
    color: var(--title-result-color);
    border: none;
}

.buttons-container {
   background-color: var(--toggle-Keypad-Background);
   border-radius: 6px;
   margin-top:1rem;
   padding: 75px;
   padding-top: 2rem;
   padding-bottom: 3rem;
}

.keycaps {
    display: grid;
    grid-template-rows:repeat(5,70px);
    grid-template-columns: repeat(4,70px);
    padding-top: 20px;
    gap: 20px;
    justify-content: center;
}

.keycaps button {
    color: var(--key-color);
    background-color:  var(--numberkey-background);
    border: none;
    border-radius: 5px;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    box-shadow: 0 5px var(--numberkey-shadow);
}

.keycaps button:hover{
    transform: translateY(2px);
    cursor: pointer;
}

.keycaps .btn-reset {
    grid-column: 1/3;
}

.keycaps .equal {
    grid-column:3/5;
    background-color:var(--equal-toggle-background);
    box-shadow: 0 5px var(--equal-toggle-shadow);
    color: var(--equal-color);
}

.keycaps .del, .keycaps .btn-reset{
    background-color: var(--del-reset-background);
    box-shadow: 0 5px var(--del-reset-shadow);
    color: var(--del-reset-color);
}

.keycaps .del:hover, .keycaps .btn-reset:hover {
background-color:var(--del-reset-hover);
}

.keycaps .equal:hover {
background-color:var(--equal-hover);
}

.keycaps button:hover {
background-color:var(--key-hover);
}


@media (max-width:900px) {
.title {
width: 100%;
justify-content: center;
margin-left: 6%;

}

h1 {
    font-size:30px;
}

p {
    font-size: 15px;
    margin-right: -8%;
}

.right {
  margin-left: 20%;
}

.result {
width: 100%;
}

.buttons-container {
    width: 100%;
    margin: 10px;
}

.keycaps {
    grid-template-rows:repeat(5,60px);
    grid-template-columns: repeat(4,60px);
}

.attribution {
    font-size: 10px;
}
}